<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
    <nav th:fragment="navbar" class="navbar">
        <div class="navbar-content">
            <a href="/dashboard" class="navbar-title-link">
                <h1 class="navbar-title">Hệ thống quản lý thư viện</h1>
            </a>
            <div class="navbar-right">
                <span class="user-info" sec:authentication="name"></span>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" class="logout-btn">Đăng xuất</button>
                </form>
            </div>
        </div>
    </nav>
</body>

</html>